<div class="container">
  <div class="col-md-12 mt-3" align="center">
    <h1>Formulario de Anulación</h1>
  </div>
  <div>
    <p>
      Ingrese sus datos para su anulación de matricula
    </p>
  </div>
  <div class="col-md-12 mt-3" align="left">
    <h5>Nombres</h5>
    <input type="text" />
    <h5>Apellidos</h5>
    <input type="text" />
  </div>
  <div class="col-md-6 mt-3" align="left">
    <h5>Fecha de Nacimiento</h5>
    <input type="date" />
  </div>
  <div class="col-md-6 mt-3" align="left">
    <h5>Cédula</h5>
    <input type="number" />
  </div>
  <div class="col-md-6 mt-3" align="left">
    <h5>Sexo</h5>
    <input type="text" />
  </div>
  <div class="col-md-6 mt-3" align="left">
    <h5>Provincia</h5>
    <input type="text" />
  </div>
  <div class="col-md-6 mt-3" align="left">
    <h5>Cantón</h5>
    <input type="text" />
  </div>
  <div class="col-md-6 mt-3" align="left">
    <h5>Etnía</h5>
    <input type="text" />
  </div>
  <div class="col-md-6 mt-3" align="left">
    <h5>Título de Bachiller</h5>
    <input type="text" />
  </div>
  <div class="col-md-6 mt-3" align="left">
    <h5>Fecha de Titulación</h5>
    <input type="text" />
  </div>
</div>
<div class="container">
  <div class="col-md-12 mt-3" align="rigth">
    <p>SOLICITUD ANULACIÓN</p>
    <img src="/assets/img/anulacion.png" />
    <button (click)="descargar()" class="btn btn-primary">Descargar PDF</button>
  </div>
</div>
