<div class="container">
  <div class="col-md-12 mt-3" align="center">
    <h1>Formulario de Inscripción</h1>
  </div>
  <div>
    <p>
      Ingrese sus datos para su inscripción y posterior matricula
    </p>
  </div>
  <div class="col-md-12 mt-3" align="left">
    <div ng-app="myApp1" ng-controller="myCtrl">
      Nombres: <input ng-model="name" />
      <h5>{{ name }}</h5>
    </div>
    <div ng-app="myApp2" ng-controller="myCtrl">
      Apellidos: <input ng-model="name" />
      <h5>{{ apellido }}</h5>
    </div>
  </div>
  <div class="col-md-6 mt-3" align="left">
    <div ng-app="myApp3" ng-controller="myCtrl">
      Fecha de Nacimiento: <input ng-model="name" />
      <h5>{{ fNaci }}</h5>
    </div>
  </div>
  <div class="col-md-6 mt-3" align="left">
    <div ng-app="myApp4" ng-controller="myCtrl">
      Cédula: <input ng-model="name" />
      <h5>{{ ced }}</h5>
    </div>
  </div>
  <div class="col-md-6 mt-3" align="left">
    <div ng-app="myApp5" ng-controller="myCtrl">
      Sexo: <input ng-model="name" />
      <h5>{{ sex }}</h5>
    </div>
  </div>
  <div class="col-md-6 mt-3" align="left">
    <div ng-app="myApp6" ng-controller="myCtrl">
      Provincia: <input ng-model="name" />
      <h5>{{ prov }}</h5>
    </div>
  </div>
  <div class="col-md-6 mt-3" align="left">
    <div ng-app="myApp7" ng-controller="myCtrl">
      Cantón: <input ng-model="name" />
      <h5>{{ can }}</h5>
    </div>
  </div>
  <div class="col-md-6 mt-3" align="left">
    <div ng-app="myApp8" ng-controller="myCtrl">
      Etnía: <input ng-model="name" />
      <h5>{{ etnia }}</h5>
    </div>
  </div>
  <div class="col-md-6 mt-3" align="left">
    <div ng-app="myApp9" ng-controller="myCtrl">
      Título de Bachiller: <input ng-model="name" />
      <h5>{{ bachiller }}</h5>
    </div>
  </div>
  <div class="col-md-6 mt-3" align="left">
    <div ng-app="myApp10" ng-controller="myCtrl">
      Fecha de Titulación: <input ng-model="name" />
      <h5>{{ fTitul }}</h5>
    </div>
  </div>
  <div class="col-md-12 mt-3" align="center">
    <a href="index" ng-if="confirmar" onclick="return confirm('Are you sure?')"
      ><input type="button" value="Aceptar"
    /></a>
  </div>
</div>
<div class="container">
  <div class="col-md-12 mt-3" align="center">
    <!--postulacion.jpg-->
    <p>FORMULARIO DE INGRESO</p>
    <img src="/assets/img/anulacion.png" />
    <button (click)="verPdf()" class="btn btn-primary">Descargar PDF</button>
  </div>

  <div class="col-md-12 mt-3" align="center">
    <p>COMPROBANTE ACEPTACIÓN</p>
    <img src="/assets/img/anulacion.png" />
    <button (click)="aceptar()" class="btn btn-primary">Descargar PDF</button>
  </div>
</div>
